<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALYDsZWI6ZxtJBQbOOAhcqJ-oZx4SNkqw</string>
	<key>GCM_SENDER_ID</key>
	<string>761934015396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginLotto2</string>
	<key>PROJECT_ID</key>
	<string>login-lotto-a5b51</string>
	<key>STORAGE_BUCKET</key>
	<string>login-lotto-a5b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761934015396:ios:d2c337f69957fade10af31</string>
</dict>
</plist>